@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  background-color: #f5f2da;
  @apply font-[Varela-Round] text-[#333a56] placeholder:text-[#333a56];
}

a.active {
  @apply text-[#f7f5e6]  bg-[#333a56] py-1.5 px-3 no-underline rounded-md;
}
.sidebarTitle {
  @apply m-2.5 p-1.5 w-[80%] border-y border-x-0 border-solid border-[#a7a4a4] font-[Varela-Round] font-semibold text-center leading-5;
}
.sidebarSocial {
  @apply mt-3.5 w-[250px] flex justify-center items-center;
}
.sidebarIcon {
  @apply mr-2.5 cursor-pointer text-2xl;
}
.login-image {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("./assets/login.jpg");
  background-size: cover;
  background: linear-gradient(255, 255, 255, 0.5);
}
.loader {
  height: 4px;
  width: 130px;
  --c: no-repeat linear-gradient(#6100ee 0 0);
  background: var(--c), var(--c), #d7b8fc;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}
@keyframes l16 {
  0% {
    background-position: -150% 0, -150% 0;
  }
  66% {
    background-position: 250% 0, -150% 0;
  }
  100% {
    background-position: 250% 0, 250% 0;
  }
}
